@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
$bright-cyan: #5eefe1;

%text-under {
  border-bottom: 4px solid $bright-cyan;
}

%align-center {
  position: relative;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid{
  max-width:1920px;
}

nav {
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  font-family: Ubuntu;
  font-weight: bold;
}

#logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-open {
  height: 43.7px;
  width: 33.9px;
}

.logo-closed {
  height: 30px;
  width: 150px;
  margin-left: 0px;
   
}

.logo-container-open{
  left: 35px;
  @extend %align-center;
}

.nav-item {
  @extend %align-center;
}

.logo-container-close{
  margin-right: 0;
  margin-left: 0;
}

#navbarTogglerDemo02{
  text-align: center;
  &:hover, &:active {
    color: $bright-cyan;
    font-weight: bold;
  }
}


#link {
  border-bottom: 4px solid transparent;
  color: white;
  margin: 3%;
  &:hover, &:active {
    color: $bright-cyan;
    font-weight: bold;
    @extend %text-under;
  }
}

#linkContacto{
  border-bottom: 4px solid transparent;
  color: white;
  font-weight: bold;
  margin: 3%;
  &:hover {
    color: $bright-cyan;
    @extend %text-under;
  }
}

#image {
  height: 50px;
}

.group609{
  margin-top: 15px;
 }

@media (min-width:768px) {

  .logo-open {
    height: 100px;
    width: 80px;
  }
  
  .logo-closed {
    height: 50px;
    width: 250px;
    margin-left: 0px;
  }
}

@media (min-width:992px){
  
  nav {
    height: 90px;
  }

  #logo{
    height: 50px;
    width: 250px;    
   }

  .group609{
   display: none;
  }

  #link {
    margin: 16.5px 15px 11.5px 15px;
    &:hover {
    @extend %text-under;
    }
  }

  #linkContacto{
    color: white;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 8px;
    margin: 16.5px 15px 11.5px 15px;
    width: 100px;
    &:hover {
      color: $bright-cyan;
      border: 2px solid $bright-cyan;
    }
  }
}
