<section class="container">
  <h1 class="text-center banner-top">BrightCoders</h1>
  <div class="text-center"><span class="banner-bottom">for a brighter future!</span></div>
  <div class="row flex-sm-row mt-4 mx-3">
    <div class="col-lg-4 col-md-6 p-2">
      <div class="card">
        <div class="p-3 text-center"><%= image_tag('icon-cap', class: 'fit-image-first card-img-top', alt:"icon cap") %></div>
        <div class="card-body">
          <h5 class="title">¿Qué somos?</h5>
          <p class="text">
            Somos una aceleradora de talento que brinda a jóvenes con iniciativa y ganas de aprender programas de
            certificación diseñados para potenciar sus habilidades, mejorar sus posibilidades de acceso a un empleo de
            calidad y condiciones de vida.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 p-2">
      <div class="card">
        <div class="p-3 text-center">
          <%= image_tag('icon-computer', class: 'fit-image-first card-img-top', alt:"icon cap") %>
        </div>
        <div class="card-body">
          <h5 class="title">¿Qué ofrecemos?</h5>
          <p class="text">
            Una experiencia de aprendizaje única que te permitirá iniciar una carrera en tecnología gracias a la
            capacitación y experiencia que lograrás colaborando en proyectos de desarrollo software reales y el
            acompañamiento de una comunidad de mentores experimentados.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 p-2 mx-auto">
      <div class="card">
        <div class="p-3 text-center">
          <%= image_tag('icon-lamp', class: 'fit-image-third card-img-top', alt:"icon cap") %>
        </div>
        <div class="card-body">
          <h5 class="title">BrightCoders</h5>
          <p class="card-text">
            BrightCoders Academy capacita a estudiantes, egresados y jóvenes con ganas de aprender y con conocimientos
            intermedios de programación orientada a objetos en HTML, CCS, y JS para iniciar una carrera en tecnología.
            También es una opción para acreditar las prácticas o estancias profesionales.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
