<section class="testimonial">
  <div class="d-flex justify-content-center">
    <span class="title-testimonial-1"><%= t('testimonial.text1') %></span>
  </div>

  <div class="d-flex justify-content-center background-title-testimonial-2">
    <span class="title-testimonial-2"><%= t('testimonial.text2') %></span>
  </div>

  <div class="testimonial-video">
    <video controls class="d-flex justify-content-center">
      <source src="https://drive.google.com/uc?export=download&id=1Z1c07yPur2mZHcTI5Xrb_04l3O0SKSdQ" type='video/mp4'>
    </video>
  </div>
</section>
