<section class="testimonial">
  <div class="d-flex justify-content-center">
    <span class="title-testimonial-1"><%= t('testimonial.text1') %></span>
  </div>

  <div class="d-flex justify-content-center background-title-testimonial-2">
    <span class="title-testimonial-2"><%= t('testimonial.text2') %></span>
  </div>

  <div class="testimonial-video">
    <%= video_tag "testimonial.mp4", controls: true, class: "d-flex justify-content-center" %>
  </div>
</section>
