<section class="lading-top">
  <div class="container">
    <nav class="pt-5">
      <div class="navegation mb-5">
        <h1 class="text-white">BrightCoders</h1>
      </div>
    </nav>
    <section class="hero">
      <div class="hero-info">
        <h1 class="hero-info_heading"> Desarrolla e <br></h1>
        <span class="hero-info_heading-span">impulsta tu talento.</span>
        <div class="hero-info_text-v1">
          <p class="hero-info_text-v1_p">mediante una experiencia</p>
          <p class="hero-info_text-v1_p">de aprendizaje única.</p>
        </div>
        <div class="hero-info_text-v2">
          <p class="hero-info_text-v2_p">Vive una experiencia de </p>
          <p class="hero-info_text-v2_p">aprendizaje única.</p>
        </div>
        <a href="#" class="hero-info_button">Conoce nuestros programas</a>
      </div>

      <div class="hero-image">
        <%= image_tag("Image 2.webp", alt:"Woman image", class:"hero-image_women")%>
        <div class="hero-image_rectangles">
          <%=image_tag("Group 608.png", alt: "Colored rectangles", class:"hero-image_rectangles-colored1")%>
          <%=image_tag("Group 608.png", alt: "Colored rectangles", class:"hero-image_rectangles-colored2")%>
        </div>
      </div>
    </section>
  </div>
</section>