.fit-image-first {
  width: 230px;
  object-fit: cover;
  height: 198px; /* only if you want fixed height */
}

.fit-image-third {
  width: 181px;
  object-fit: cover;
  height: 198px; /* only if you want fixed height */
}
