@import './variables.scss';

.lading-top{
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,57,166,1) 0%, rgba(80,0,255,1) 100%);
  height: 100vh;
  overflow: hidden;

  .container{
    width: 90%;
  }

  .hero{
    .hero-info{
      line-height: 220%;
      &_heading{
        color: $white;
        display: block;
        font-size: 40px;
        margin: 0;

        &-span{
          display: block;
          color: $yellow;
          font-size: 35px;
          font-weight: normal;
          margin-bottom: 15px;
        }
      }

      &_text-v1{
        color: $white;
        line-height: 25px;
        margin-bottom: 25px;
        &_p{
          font-size: 22px;
          margin: 0;
        }
      }

      &_text-v2{
        display: none
      }

      &_button{
        @include button($yellow, 15px, $blue, 15px, 20px);
        display: block;
        font-weight: bold;
        font-size: 18px;
        margin: 0 auto;
        text-align: center;
      }
    }

    .hero-image{
      &_women{
        height: auto;
        margin: 0 auto;
        position: relative;
        right: 230px;
        top: 22px;
        width: 700px;
        z-index: 1;
      }

      &_rectangles{
        bottom: 500px;
        display: flex;
        justify-content: center;
        right: 106px;
        position: relative;

        &-colored1{
          position: relative;
          top: 84px;
        }

        &-colored2{
          bottom: 100px;
          right: 20px;
          position: relative;
          width: 110%;
        }
      }
    }
  }
}

@media(min-width: 768px){
  .lading-top{
    .container{
      width: 85%;

      .hero{
        &-info{
          line-height: 220%;

          &_heading{
            font-size: 50px;

            &-span{
              display: block;
              font-size: 45px;
              font-weight: bolder;
              margin-bottom: 20px;
            }
          }

          &_text-v1{
            display: none;
          }

          &_text-v2{
            display: block;
            color: $white;
            line-height: 40px;
            margin-bottom: 35px;

            &_p{
              margin: 0;
              font-size: 32px;
              font-weight: lighter;
            }
          }

          &_button{
            font-size: 20px;
            margin: 0;
            width: 55%;
          }
        }

        &-image{
          &_women{
            top: -60px;
            right: 15px;
          }

          &_rectangles{
            bottom: 560px;
            right: -1px;
            gap: 20px;

            &-colored1{
              width: 50%;
              left: 30px;
              top: 63px;
            }

            &-colored2{
              width: 70%;
              bottom: 110px;
            }
          }
          
        }
      }
    } 
  }
}

@media (min-width: 1024px) {
  .lading-top {
    height: 800px;
    .container {
      max-width: 100vw;
      width: 90%;

      .hero {
        display: flex;
        flex-direction: row;
        height: 70%;
        &-info {
          line-height: 220%;
          min-width: 40vw;
          margin: 9vh 0;

          &_heading {
            font-size: 50px;

            &-span {
              display: block;
              font-size: 45px;
              font-weight: bolder;
              margin-bottom: 20px;
            }
          }

          &_text-v1 {
            display: none;
          }

          &_text-v2 {
            display: block;
            color: $white;
            line-height: 40px;
            margin-bottom: 35px;

            &_p {
              margin: 0;
              font-size: 32px;
              font-weight: lighter;
            }
          }

          &_button {
            font-size: 20px;
            padding: 1rem 0;
            margin: 0;
            width: 55%;
          }
        }

        &-image {
          &_women {
            top: -10vw;
            right: 7vw;
            width: 55vw;
          }

          &_rectangles {
            bottom: 105vh;
            right: 10vw;
            gap: 20px;

            &-colored1 {
              width: 50%;
              left: 80px;
              top: 150px;
            }

            &-colored2 {
              width: 70%;
              bottom: 140px;
              left: 10px;
            }
          }
        }
      }
    }
  }
}
